.dots-li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(145, 158, 171);
  margin: 0px 10px !important;
}
.form-head ul {
  display: inline-block;
  list-style: none;
  padding: 0px !important;
}
.text-li {
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  line-height: 2;

  color: rgb(33, 43, 54);
}

.form-head li {
  display: inline-block;
  list-style: none;
  margin: 0px;
}
.form-head {
  padding-bottom: 40px;
}
.form-head h4 {
  font-size: 1.5rem;
  margin: 0px 0px 8px;
  font-weight: 700;
  line-height: 1.5;
}
.card-vahani {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: none;
  overflow: hidden;
  z-index: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: rgb(145 158 171 / 48%) 0px 0px 1px 0px,
    rgb(145 158 171 / 24%) 0px 2px 4px -1px;
  padding: 24px;
}
.text-field {
  display: block !important;
  width: 100% !important;
}
.card-vahani .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  width: 100%;
}
.form-auto .form-select {
  padding: 15px 14px !important;
}
.but-login-vahani {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.9375rem;
  text-transform: capitalize;

  min-width: 64px;
  padding: 8px 22px;
  border-radius: 8px !important;
  color: rgb(255, 255, 255);
  background-color: rgb(32, 101, 209) !important;
  width: 100%;
  box-shadow: rgb(32 101 209 / 24%) 0px 8px 16px 0px !important;
  height: 48px !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}
.image-card input[type="file"] {
  /* display: block; */
  /* opacity: 0; */
}
.img-file-form {
  width: 144px;
  height: 144px;
  margin: auto;
  border-radius: 50%;
  padding: 8px;
  border: 1px dashed rgba(145, 158, 171, 0.32);
}
.img-button {
  z-index: 0;
  width: 100%;
  height: 100%;
  outline: none;
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
  position: relative;
}
.input-file {
  position: absolute;
  height: 100%;
  opacity: 0;
  z-index: 1;
  background-color: red;
}
.upload {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  opacity: 0;

  color: rgb(255, 255, 255);
  background-color: rgb(22, 28, 36);
  cursor: pointer;
}
.img-button:hover .upload {
  opacity: 0.8;
}

.upload-info-personal {
  margin: 16px auto 0px;
  line-height: 1.5;
  font-size: 0.75rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: rgb(99, 115, 129);
  display: block;
  text-align: center;
}
.py-2 {
  padding-top: 20px !important;
}
.Identification-Details {
  margin: 0px 0px 8px;
  font-weight: 600;
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  color: rgb(99, 115, 129);
}
.but-width-form {
  display: flex;
  justify-content: end;
}
