.table-head {
  display: flex;
  align-items: center;
  padding: 30px 24px;

  font-weight: 700;
  font-size: 1.125rem;
}
.tablesimple-head {
  background-color: rgb(244, 246, 248);
}
.tablecell-head {
  font-weight: 700 !important;
  font-size: 1rem !important;
  line-height: 1.5rem;
  letter-spacing: 0.01071em;
  border: 0px !important;
  /* display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px; */
  color: rgb(99, 115, 129) !important;
}
