.appbar-desktop {
  display: block !important;
}
.appbar-mobile {
  display: none !important;
}
.header {
  background-color: transparent !important;
  box-shadow: none !important;
  /* color: red !important; */
  height: 80px !important;

  padding: 0px 40px;
}
.header2 {
  backdrop-filter: blur(6px) !important;
  background-color: rgba(249, 250, 251, 0.8) !important;
  box-shadow: none !important;
  height: 64px !important;
  z-index: 1101 !important;
  /* height: 80px !important; */

  padding: 0px 40px;
}
.bisearch {
  color: rgb(99, 115, 129);
  width: 50px;
  font-size: 25px;
}
.header-pd {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.badge .css-fvc8ir-MuiBadge-badge {
  background-color: rgb(255, 72, 66) !important;
}
.profile-popup
  .css-7t47y9-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  top: 48px !important;
  margin-left: -24px !important;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) -20px 20px 40px -4px !important;
  /* border-radius: 12px !important; */
}
.profile-name1 {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-name1 h6 {
  margin: 0px;
  font-weight: 600;
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile-name1 p {
  margin: 0px;
  /* line-height: 1.57143; */
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(99, 115, 129);
}

.menu-noti {
  padding: 15px 20px !important;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.profile-name2 h6 {
  margin: 0px;
  font-weight: 600;
  line-height: 1.57143;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-name2 p {
  margin: 4px 0px 0px;
  line-height: 1.5;
  font-size: 0.75rem;

  font-weight: 400;
  color: rgb(145, 158, 171);
}
.hr-di {
  margin: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(145, 158, 171, 0.24);
  border-bottom-width: thin;
  border-style: dashed;
}
.viewall-noti {
  padding: 8px;
  color: rgb(0, 171, 85);
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}
.profile-popup2
  .css-7t47y9-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  top: 48px !important;
  margin-left: -98px !important;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) -20px 20px 40px -4px !important;
  width: 300px !important;
  /* border-radius: 12px !important; */
}
@media (max-width: 450px) {
  .appbar-desktop {
    display: none !important;
  }
  .appbar-mobile {
    display: block !important;
  }
  .header {
    padding: 0px 10px !important;
  }
  .header2 {
    padding: 0px 10px !important;
  }
  .profile-popup2
    .css-7t47y9-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    margin-left: -50px !important;
  }
  .profile-popup
    .css-7t47y9-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    margin-left: -10px !important;
  }
}
